.bx-tachometer:before {
    content: "\ec3a";
}

.bx-search:before {
    content: "\ebf7";
}

.bx-search-alt:before {
    content: "\ebf8";
}

.bx-location-plus:before {
    content: "\eb48";
}
.bx-fullscreen:before {
    content: "\eaeb";
}

.bx-bell:before {
    content: "\e9d2";
}

.bx-bell-off:before {
    content: "\e9d4";
}

.bx-message-square-dots:before {
    content: "\eb81";
}

.bx-badge-check:before {
    content: "\e9c1";
}

.bx-user-circle:before {
    content: "\ec65";
}

.bx-user:before {
    content: "\ec63";
}

.bx-user-check:before {
    content: "\ec64";
}

.bx-help-circle:before {
    content: "\eb0d";
}

.bx-moon:before {
    content: "\eb94";
}

.bx-sun:before {
    content: "\ec34";
}

.bx-arrow-to-left:before {
    content: "\e9ba";
}

.bx-arrow-to-right:before {
    content: "\e9bb";
}
.bx-camera:before {
    content: "\ea21";
}
.bx-image-alt:before {
    content: "\eb1d";
}


.bx-cog:before {
    content: "\ea6e";
}

.bx-log-out-circle:before {
    content: "\eb50";
}

.bx-hide:before {
    content: "\eb0e";
}

.bx-show:before {
    content: "\ec0c";
}

.bxl-facebook:before {
    content: "\e92f";
}

.bxl-twitter:before {
    content: "\e982";
}

.bxl-github:before {
    content: "\e93a";
}

.bxl-google:before {
    content: "\e93c";
}

.bx-analyse:before {
    content: "\e9ab";
}

.bx-x-circle:before {
    content: "\ec8e";
}

.bx-radio-circle:before {
    content: "\ebd3";
}

.bx-radio-circle-marked:before {
    content: "\ebd4";
}

.bx-up-arrow-circle:before {
    content: "\ec5e";
}

.bx-chevron-right:before {
    content: "\ea50";
}

.bx-circle:before {
    content: "\ea5c";
}

.bx-disc:before {
    content: "\eaa3";
}

.bx-wrench:before {
    content: "\ec8c";
}

.bx-trash:before {
    content: "\ec50";
}

.bx-trash-alt:before {
    content: "\ec51";
}

.bxl-facebook:before {
    content: "\e92f";
}

.bxl-facebook-circle:before {
    content: "\e930";
}

.bxl-twitter:before {
    content: "\e982";
}

.bxl-linkedin:before {
    content: "\e94d";
}

.bxl-linkedin-square:before {
    content: "\e94e";
}

.bxl-google:before {
    content: "\e93c";
}

.bx-group:before {
    content: "\eaff";
}

.bxs-group:before {
    content: "\edd6";
}

.bx-edit:before {
    content: "\eabf";
}

.bx-edit-alt:before {
    content: "\eac0";
}

.bx-conversation:before {
    content: "\ea81";
}

.bx-book-content:before {
    content: "\e9e5";
}

.bx-phone:before {
    content: "\ebb2";
}

.bx-cloud-drizzle:before {
    content: "\ea62";
}

.bx-wallet:before {
    content: "\ec78";
}

.bx-check-shield:before {
    content: "\ea48";
}

.bx-package:before {
    content: "\eba6";
}

.bx-support:before {
    content: "\ec35";
}
.bx-menu:before {
    content: "\eb5f";
}
.bx-grid-alt:before {
    content: "\eafb";
}

.bx-check-circle:before {
    content: "\ea46";
}

.bx-block:before {
    content: "\e9d9";
}

.bxs-up-arrow-square:before {
    content: "\eede";
}

.bxs-down-arrow-square:before {
    content: "\ed94";
}

.bxs-briefcase:before {
    content: "\eceb";
}

.bx-briefcase-alt-2:before {
    content: "\ea02";
}

.bx-down-arrow-circle:before {
    content: "\eab8";
}

.bx-up-arrow-circle:before {
    content: "\ec5e";
}

.bx-credit-card:before {
    content: "\ea87";
}

.bx-dollar:before {
    content: "\eaac";
}

.bxs-checkbox-checked:before {
    content: "\ed2f";
}

.bx-x-circle:before {
    content: "\ec8e";
}

.bxs-x-square:before {
    content: "\ef07";
}

.bx-pencil:before {
    content: "\ebb1";
}

.bx-plus:before {
    content: "\ebc0";
}

.bx-grid:before {
    content: "\eafa";
}

.bx-spreadsheet:before {
    content: "\ec24";
}

.bx-map:before {
    content: "\eb56";
}
.bx-right-arrow-alt:before {
    content: "\ebe6";
}
.bx-circle:before {
    content: "\ea5c";
}

.bxs-circle:before {
    content: "\ed47";
}
.bx-dots-vertical-rounded:before {
    content: "\eab4";
}

.bx-bookmarks:before {
    content: "\e9ee";
}