.material-input-container {
    position: relative;

    input.form-control {
        border-radius: 4px;
        box-sizing: border-box;
        padding: 16px;
    }

    .form-label {
        color: $medium-light;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 16px;
        display: flex;
        align-items: center;
        pointer-events: none;
        height: 100%;
    }

    input.form-control,
    .form-label {
        font-family: 'Segoe UI';
        font-size: 16px;
    }

    .form-label {
        transition: all 0.25s ease-out;
    }

    input.form-control:focus, 
    input.form-control.is-valid, 
    input.form-control.is-valid:focus {
        outline: none;
        border: 1px solid $primary;
    }

    input.form-control.is-invalid,
    input.form-control.is-invalid:focus {
        outline: none;
        border: 1px solid $danger;
    }

    input.form-control:focus + .form-label,
    :not(input[value=""]) + .form-label {
        font-size: 14px;
        transform: translate(0, -50%);
        background-color: $body-bg;
        padding-left: 6px;
        padding-right: 6px;
        height: 14px;
    }

    input.form-control {
        &:not(input.form-control[value=""]) + .form-label {
            color: $primary;
        }
    }
    
    input.form-control{
        &:not(input.form-control[value=""])  {
            &.is-valid {
                + .form-label {
                    color: $primary;
                }
            }
        }
    }
    
    input.form-control{
        &:not(input.form-control[value=""])  {
            &.is-invalid{
                + .form-label {
                    color: $danger;
                }
            }
        }
    }
    

    input.form-control {
            &:not(input.form-control[value=""]){
            outline: none;
            border: 1px solid $primary;
        }
    }
    input.form-control {
        &:not(input.form-control[value=""]) {
            &.is-valid{
                outline: none;
                border: 1px solid $primary;
            }
        }
    }
    
    input.form-control {
        &:not(input.form-control[value=""]) {
            &.is-invalid{
                outline: none;
                border: 1px solid $danger;
            }
        }
    }
    

    input.form-control:focus + .form-label,
    input.form-control.is-valid + .form-label,
    input.form-control.is-valid:focus + .form-label {
        color: $primary;
    }

    input.form-control.is-invalid:focus + .form-label,
    input.form-control.is-invalid + .form-label {
        color: $danger;
    }
}