// 
// _footer.scss
// 

.footer {
    padding: 50px 0px 30px;
    position: absolute;
    right: 0;
    color: $footer-color;
    left: $vertical-menu-width;
    // height: $footer-height;
    background-color: $footer-bg;
    overflow: hidden;
    // bottom: calc(0px - #{$hero-height-max});
    width: 100%;
    &.no-hero-container{
        bottom: 0px;
        width: auto;
    }
.footer-section  {
    .footer-contact {
         li {
           color: #475467;
                display: flex;
                align-items: center;
                gap: 12px;
                font-size: 14px;
         }
    }
    .flex-column {
        display: flex;
        flex-direction: column !important;
        gap: 15px;
        li {
            a {
                font-size: 14px;
                color: #475467 !important;
            }
            p {
                color: #475467 !important;
            }
        }
    }
}
    .footer-company-info-section {
         p {
            color: #667085;
            max-width: 340px;
            line-height: 175%;
            font-weight: 400;
         }
    }
    .footer-bar {
        margin-top: 50px;
        padding-top: 30px;

        a {
            color: #475467;
        }
    }

    @media (max-width: 991.98px) {
        left: 0;

    }
}


@media (max-width: 992px) {
    .footer {
        left: $vertical-menu-width-sm;

        @media (max-width: 767.98px) {
            left: 0;
        }
    }
}



.footer-logo {
    max-width: 220px;
    margin-bottom: 1.5rem;
}

.footer-section h5 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 0.8rem;
}

.landing-footer-top{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 991px) {
    .footer-section {
        margin-bottom: 2rem;
    }
    .footer-company-info-section{
        text-align: center;
    }
    .landing-footer-top{
        height: 400px;
    }
}

@media only screen and (max-width: 767px) {

    .footer-logo {
        max-width: 110px;
    }

    .footer-section h5 {
        margin-top: 1.3rem;
    }

    .footer-section {
        display: block;
        margin-bottom: 2rem;
    }
    .landing-footer-top{
        height: 300px;
    }
}

