//
// _vertical.scss
//

.app-content {
    margin-left: $vertical-menu-width;
    overflow: hidden;

    .content {
        padding: 0 15px 10px 15px;
        margin-top: $header-height;
    }
}

.main-content {
    transition: all .1s ease-out;
    display: flex;
    height: calc(100vh - $header-height - $footer-height);
    margin-top: $header-height;
    overflow: auto;

    @media (min-width: 768px) {
        margin-left: $vertical-menu-width;
    }
}

.page-content {
    flex-grow: 1;
    padding: calc(#{$grid-gutter-width}) calc(#{$grid-gutter-width} * 0.5) calc(#{$grid-gutter-width}) calc(#{$grid-gutter-width} * 0.5);
    height: max-content;
    min-height: 100%;
    width: 100%;
}

.main-page-content{
    transition: all .1s ease-out;
    display: flex;
    min-height: calc(100vh - $header-height - $footer-height);
    margin-top: $header-height;
    overflow: auto;
    background-color: #F2F4F7;
    &.has-hero-container{
        margin-top: calc($header-height + $hero-height-max);
    }

}



.navbar-menu {
    width: $vertical-menu-width;
    z-index: calc($vertical-menu-z-index - 1);
    background: $vertical-menu-bg;
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: $header-height;
    box-shadow: $vertical-menu-box-shadow;
    padding: 10px 0 calc(#{$header-height}) 0;
    transition: all .1s ease-out;

    .navbar-nav {
        .nav-link {
            display: flex;
            align-items: center;
            padding: $vertical-menu-item-padding-y 8px;
            color: $vertical-menu-item-color;
            font-size: $vertical-menu-item-font-size;
            // font-family: $vertical-menu-item-font-family;
            font-weight: 500;
            margin-bottom: 0.2rem;

            &.active {
                
                color:  #344054;
                background: #F2F4F7;
                font-weight: 500; 
                i {
                    color: $vertical-menu-item-active-color
                }
            }

            &:hover {
                // color: $vertical-menu-item-hover-color;
                font-weight: 500;
            }

            i {
                display: inline-block;
                min-width: $vertical-menu-item-icon-width;
                font-size: 18px;
                line-height: inherit;
            }

            svg {
                width: 18px;
                margin-right: 0.665rem;
                color: $vertical-menu-item-color;
            }

            .badge {
                margin-left: auto;
                margin-right: -2px;
                z-index: 1;
            }

            &:hover {
                // color: $vertical-menu-item-hover-color;

                .icon-dual {
                    color: $vertical-menu-item-hover-color;
                    fill: rgba($primary, 0.16);
                }
            }

            &[data-bs-toggle=collapse] {
                &:after {
                    display: block;
                    content: "\ea50";
                    font-family: 'boxicons';
                    margin-left: auto;
                    transition: transform .2s;
                    font-size: 1.05rem;
                    position: absolute;
                    right: 18px;
                    color: $vertical-menu-title-color;
                }

                &[aria-expanded=true] {
                    color: $vertical-menu-item-active-color;

                    .icon-dual {
                        color: $vertical-menu-item-hover-color;
                        fill: rgba($primary, 0.16);
                    }

                    &:after {
                        transform: rotate(90deg);
                        color: $vertical-menu-item-active-color;
                    }

                    &:before {
                        opacity: 1;
                        background-color: $vertical-menu-item-active-color;
                    }
                }
            }

            &.collapsed {
                &.active {
                    &::after {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .nav-sm {
            padding-left: $vertical-menu-item-icon-width;

            .nav-link {
                padding: $vertical-menu-sub-item-padding-y $vertical-menu-sub-item-padding-x !important;
                color: $vertical-menu-sub-item-color;
                white-space: none;
                position: relative;
                font-size: $vertical-menu-sub-item-font-size;
                // font-family: $vertical-menu-sub-item-font-family;

                &:before {
                    content: '';
                    width: 6px;
                    height: 1.5px;
                    background-color: $vertical-menu-sub-item-color;
                    position: absolute;
                    left: 2px;
                    top: 16.5px;
                    transition: all .4s ease-in-out;
                    opacity: 0.5;
                }

                &:hover {
                    // color: $vertical-menu-sub-item-hover-color;

                    &:before {
                        background-color: $vertical-menu-sub-item-hover-color !important;
                        opacity: 1;
                    }
                }

                &.active {
                    color: $vertical-menu-item-active-color;

                    &:before {
                        background-color: $vertical-menu-item-active-color;
                    }
                }
            }

            .nav-sm {
                padding-left: 15px;

                .nav-link {

                    &:before {
                        height: 5px;
                        width: 5px;
                        left: 5px;
                        border-radius: 50%;
                        background-color: transparent;
                        border: 1px solid;
                        top: 16px;
                    }
                }
            }
        }
    }

    .btn-vertical-sm-hover {
        color: $text-muted;
        display: none;
    }
}



