// ===================================================================================================
//                              Card Component
// ===================================================================================================

.simple-card {
    background-color: #f5f6f8;
    border-radius: 8px;
    padding: 16px 16px 16px 16px;

    img{
        width: 100%;
    }
    h4{
        text-align: center;
        margin: 10px 0px 10px 0px;
    }

    .buttons{
        margin: 10px 0px 10px 0px;
        display: flex;
        justify-content: center;
    }
}


// ===================================================================================================
//                              Alert Component
// ===================================================================================================
button.close {
    padding: 0;
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dismissible-alert {
    padding-right: 4rem;
}



.primary-alert {
    color: white;
    border-color: #d6d7db;
    background-color: $primary;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;

    a {
        color: white;
    }

    div {
        margin-right: 10px;
        /* Add some space between the icon and the text */
    }

    i {
        font-size: 24px;
        /* Example icon color */
    }

    h4 {
        margin: 0;
        font-size: 18px;
        /* Example heading color */
    }

    span {
        display: block;
        /* Example message color */
    }

    .close-icon{
        font-size: 18px;
        cursor: pointer;
    }
}

.secondary-alert {
    color: white;
    border-color: #d6d7db;
    background-color: $secondary;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;
    a {
        color: white;
    }

    div {
        margin-right: 10px;
        /* Add some space between the icon and the text */
    }

    i {
        font-size: 24px;
        /* Example icon color */
    }

    h4 {
        margin: 0;
        font-size: 18px;
        /* Example heading color */
    }

    span {
        display: block;
        /* Example message color */
    }

    .close-icon{
        font-size: 18px;
        cursor: pointer;
    }
}

.success-alert {
    color: white;
    border-color: #d6d7db;
    background-color: $success;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;

    a {
        color: white;
    }

    div {
        margin-right: 10px;
        /* Add some space between the icon and the text */
    }

    i {
        font-size: 24px;
        /* Example icon color */
    }

    h4 {
        margin: 0;
        font-size: 18px;
        /* Example heading color */
    }

    span {
        display: block;
        /* Example message color */
    }

    .close-icon{
        font-size: 18px;
        cursor: pointer;
    }
}

.danger-alert {
    color: white;
    border-color: #d6d7db;
    background-color: $danger;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;

    a {
        color: white;
    }

    div {
        margin-right: 10px;
        /* Add some space between the icon and the text */
    }

    i {
        font-size: 24px;
        /* Example icon color */
    }

    h4 {
        margin: 0;
        font-size: 18px;
        /* Example heading color */
    }

    span {
        display: block;
        /* Example message color */
    }

    .close-icon{
        font-size: 18px;
        cursor: pointer;
    }
}

.warning-alert {
    color: white;
    border-color: #d6d7db;
    background-color: $warning;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;

    a {
        color: white;
    }

    div {
        margin-right: 10px;
        /* Add some space between the icon and the text */
    }

    i {
        font-size: 24px;
        /* Example icon color */
    }

    h4 {
        margin: 0;
        font-size: 18px;
        /* Example heading color */
    }

    span {
        display: block;
        /* Example message color */
    }

    .close-icon{
        font-size: 18px;
        cursor: pointer;
    }
}

.info-alert {
    color: white;
    border-color: #d6d7db;
    background-color: $info;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;

    a {
        color: white;
    }

    div {
        margin-right: 10px;
        /* Add some space between the icon and the text */
    }

    i {
        font-size: 24px;
        /* Example icon color */
    }

    h4 {
        margin: 0;
        font-size: 18px;
        /* Example heading color */
    }

    span {
        display: block;
        /* Example message color */
    }

    .close-icon{
        font-size: 18px;
        cursor: pointer;
    }
}

.light-alert {
    color: #616367;
    border-color: #ecedef;
    background-color: $light;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;

    a {
        color: $secondary;
    }

    div {
        margin-right: 10px;
        /* Add some space between the icon and the text */
    }

    i {
        font-size: 24px;
        /* Example icon color */
    }

    h4 {
        margin: 0;
        font-size: 18px;
        /* Example heading color */
    }

    span {
        display: block;
        /* Example message color */
    }

    .close-icon{
        font-size: 18px;
        cursor: pointer;
    }
}

.dark-alert {
    color: #edeef5;
    border-color: #cbcccf;
    background-color: #24252c;
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: flex;

    a {
        color: white;
    }

    div {
        margin-right: 10px;
        /* Add some space between the icon and the text */
    }

    i {
        font-size: 24px;
        /* Example icon color */
    }

    h4 {
        margin: 0;
        font-size: 18px;
        /* Example heading color */
    }

    span {
        display: block;
        /* Example message color */
    }

    .close-icon{
        font-size: 18px;
        cursor: pointer;
    }
}


// ===================================================================================================
//                              Button Component
// ===================================================================================================