	// Variables

	//
	// custom-variables
	//

	// Prefix for :root CSS variables

	$variable-prefix: sa-; // Deprecated in v5.2.0 for the shorter `$prefix`
	$prefix: $variable-prefix;

	// Font Family
	$font-family-primary: 'Poppins', sans-serif;
	$font-family-secondary: 'Open sans Regular', sans-serif;

	// Color system

	// scss-docs-end gray-colors-map
	// fusv-enable

	// scss-docs-start color-variables
	$blue: #3577f1;
    $dark-blue: #25324B;
	$indigo: #405189;
	$purple: #6559cc;
	$pink: #f672a7;
	$red: #fa535d; // danger
	$orange: #f1963b;
	$yellow: #eeae01; // warning
	$green: #0ab39c;
	$teal: #02a8b5;
	$cyan: #26a4c3;
	// scss-docs-end color-variables

	// scss-docs-start colors-map
	$colors: (
	    "blue": $blue,
        "dark-blue": $dark-blue,
	    "indigo": $indigo,
	    "purple": $purple,
	    "pink": $pink,
	    "red": $red,
	    "orange": $orange,
	    "yellow": $yellow,
	    "green": $green,
	    "teal": $teal,
	    "cyan": $cyan,
	    "white": $white,
	    "gray": $gray-600,
	    "gray-dark": $gray-800
	);
	// scss-docs-end colors-map

	// scss-docs-start theme-color-variables
	$primary: #153753;
    $primary-light: #F8FCED;
    $primary-medium: #47A396;
    $primary-soft: #FDFFF9;
    $primary-muted: #E6F7FF;
	$secondary: #2a6ea6;
    $tertiary: #77838F;
    // $medium-light: #F2F4F7;
    $medium-light:#B5B5BE;
	$success: $green;
	$info: $cyan;
	$warning: $yellow;
	$danger: $red;
	$light: #f1f2f4;
	$dark: #dadadd;
	$border-color: #e2e6eb;
	// scss-docs-end theme-color-variables

	// scss-docs-start theme-colors-map
	$theme-colors: (
	    "primary": $primary,
        "primary-soft": $primary-soft,
        "primary-medium": $primary-medium,
        "primary-light": $primary-light,
        "primary-muted": $primary-muted,
	    "secondary": $secondary,
        "tertiary": $tertiary,
	    "success": $success,
	    "info": $info,
	    "warning": $warning,
	    "danger": $danger,
        "medium-light": $medium-light,
	    "light": $light,
	    "dark": $dark,
        "dark-blue": $dark-blue,
        "blue": $blue,
	    "indigo": $indigo,
	    "purple": $purple,
	    "pink": $pink,
	    "red": $red,
	    "orange": $orange,
	    "yellow": $yellow,
	    "green": $green,
	    "teal": $teal,
	    "cyan": $cyan,
	    "white": $white,
	    "gray": $gray-600,
	    "gray-dark": $gray-800
	);




	// fusv-enable

    $body-bg: #ffffff;
	$body-color: $gray-900;
	$body-text-align: null;

    $header-bg: #ffffff;
    $header-height: 70px;
    $header-left-space: 0px;
    $header-left-space-sm: 0px;

    $hero-height-max: 700px;
    $hero-height: 685px;
    $hero-height-md: 525px;
    $hero-height-sm: 400px;
    $hero-bg: #F8FFFD;


    $vertical-menu-width: 250px;
	$vertical-menu-width-md: 180px;
	$vertical-menu-width-sm: 70px;
    $vertical-menu-bg: #{$white};
    $vertical-menu-item-color: #{$black};
    $vertical-menu-item-hover-color: #{$primary};
    $vertical-menu-item-active-color: #{$primary};
    $vertical-menu-sub-item-color: #{darken($gray-600, 4%)};
    $vertical-menu-sub-item-hover-color: #{$primary};
    $vertical-menu-sub-item-active-color: #{$primary};
    $vertical-menu-title-color: #919da9;
	$vertical-menu-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
	$vertical-menu-border: $white;
	$vertical-menu-z-index: 1002;
	$vertical-menu-item-font-size: 0.9375rem;
	$vertical-menu-item-font-family: $font-family-secondary;
	$vertical-menu-item-padding-x: 1.5rem;
	$vertical-menu-item-padding-y: 0.625rem;
	$vertical-menu-sub-item-font-size: 0.813rem;
	$vertical-menu-sub-item-font-family: $font-family-primary;
	$vertical-menu-sub-item-padding-x: 1.5rem;
	$vertical-menu-sub-item-padding-y: 0.55rem;
	$vertical-menu-dropdown-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
	$vertical-menu-item-icon-width: 1.75rem;
    $vertical-menu-item-right-border: 0.1875rem;

   

	

    $footer-height: 60px;
	





