* {
    // font-family: $font-family-primary, $font-family-secondary !important;
}


@for $i from 1 through 72 {
    .fs-#{$i} {
        font-size: calc($font-size-standard / 16) * $i !important;
    }
}

@for $i from 1 through 7 {
    .fw-#{$i * 100} {
        font-weight: calc($i * 100) !important;
    }
}



@for $i from 1 through 10 {
    .op-#{$i} {
        opacity: calc($i / 10) !important;
    }
}

@each $name, $color in $theme-colors {
    .bg-soft-#{$name} {
        background-color: rgba($color, 0.18);
    }

    .badge-soft-#{$name} {
        background-color: rgba($color, 0.18);
        color: $color;
    }
}

/* Variables */
:root {
    --body-color: #f2f4f7;
    --border-color-dark-gray: #d0d5dd;
    --border-color-light-gray: #e4e7ec;
    --separator-color: #98a2b3;
    --placeholder-color: #667085;
    --icon-color: #1d2939;
    --text-color: #344054;
    --primary-color: #b3d64e;
    --white-color: #ffffff;
    --header-menu-link-color: #344054;
    --hero-bg-color: #101828;

    --header-height: 90px;
    --hero-height: 1024px;
    --hero-height-mobile: 940px;
}

/* Utility Classes */
.text-white {
    color: var(--white-color);
}

.bg-white {
    background-color: var(--white-color);
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    // background-color: var(--body-color);
    color: var(--text-color);
    // min-height: 100vh;
    font-family: 'Inter', sans-serif !important;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.icon {
    color: var(--header-menu-link-color);
}

.icon-space {
    margin-right: 10px;
}

.separator {
    height: 100%;
    border-left: 0.5px solid var(--separator-color);
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    border: 0px;
}

/* Hero Section */
.hero {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: var(--hero-bg-color);
    background-image: url('@/assets/images/landing/herobg.svg');
    background-size: cover;
    background-position: center;
    align-items: center;
}

.candidate-profile-banner {

    background-image: url('@/assets/images/card_banner.jpg');
    background-position: 50% 50%;
}

.hero>.hero-header {
    background-color: transparent;
}

.hero>.hero-header .header-middle {
    display: none !important;
}

.hero>.hero-header .header-right a,
.hero>.hero-header .header-right .icon {
    color: var(--white-color);
}

.hero>.hero-header .header-right .separator {
    color: var(--border-color-light-gray);
}

@media only screen and (max-width: 767px) {
    .hero {
        height: var(--hero-height-mobile);
    }
}

/* Header */
.hero-header,
.header {
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    height: var(--header-height);
    background-color: var(--white-color);
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 2%);
    z-index: 100;
}

// .header>div {
//     display: flex;
//     margin: 20px 50px;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
// }

@media only screen and (max-width: 600px) {
    .header {
        height: 59px;
    }
}

/* Header Search Bar */
.header-middle {
    display: flex;
    width: 100%;
    // margin-inline: 20px;
}

.header-search-bar {
    display: flex;
    align-items: center;
    // justify-content: center;
    width: 100%;
}

.search-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    height: 3rem;
}

.search-group:first-of-type {
    border-right: 0;
}

.search-group>input,
.search-group>select {
    border: 0;
    height: 100%;
    padding: 0;
    font-size: 12px;
    width: 100%;
}

.search-group>input:focus-visible,
.search-group>select:focus-visible,
.search-group>input:focus-within,
.search-group>select:focus-within {
    outline: none;
}

select>option:disabled,
select::placeholder,
select option[disabled] {
    color: var(--placeholder-color);
}

select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 16px;
}

.search-group-button {
    // padding: 10px 20px;
    background-color: var(--primary-color);
    color: rgb(100, 99, 99);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    height: 3rem;
    justify-content: center;
    display: flex;
    align-items: center;

}

.search-group-button>span {
    display: flex;
    align-items: center;
    gap: 10px;
}



@media only screen and (max-width: 991px) {
    .search-group:first-of-type {
        width: 50% !important;
    }

    .search-group {
        width: 35%;
    }

    .search-group-button {
        width: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .search-group:first-of-type {
        width: 100% !important;
    }

    .search-group {
        width: 100%;
    }

    .search-group-button {
        width: 100%;
    }


}

/* Header Right Menu */
.header-right {
    height: 30px;
    display: flex;
    align-items: center;
}

.header-right>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--header-menu-link-color);
    font-size: 12px;
    font-weight: 500;
}

.header-right>a:not(:last-child) {
    margin-right: 32px;
}

.header-right>a:last-child {
    margin-left: 32px;
}

/* Main Content */
.main,
.hero_main {
    display: flex;
    position: relative;
}

.journeytabs {
    flex-shrink: 0;
    color: var(--grey-80, #344054);

    /* Body/Small/Medium */
    font-family: Inter;
    line-height: 130%;
    background-color: white;

    /* 18.2px */
}

.searchindustry::before {
    content: url('data:image/svg+xml; utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"/></svg>');
}

.main {
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.hero_main {
    /* margin-top: var(--hero-height); */
    min-height: calc(100vh - var(--hero-height) - var(--footer-height));
}

.hero_main>.content .main>.content {
    flex-grow: 1;
}


.h-fit {
    height: fit-content !important;
}

.h-max {
    height: max-content !important;
}

.h-min {
    height: min-content !important;
}

.w-fit {
    width: fit-content !important;
}

.w-max {
    width: max-content !important;
}

.w-min {
    width: min-content !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: $primary;
}

input.form-control.password-input {
    padding-right: 5.5rem;
}

.form-control,
.form-check-input {
    border: 1px solid $medium-light;
}

.form-label,
.form-check-label {
    color: $tertiary;
    font-weight: 400;
    font-size: calc($font-size-standard / 16) * 14;
}

.was-validated .form-check-input:valid:checked,
.form-check-input.is-valid:checked {
    background-color: $primary;
}

.was-validated .form-check-input:valid,
.form-check-input.is-valid {
    border-color: $primary;
}

.was-validated .form-check-input:valid~.form-check-label,
.form-check-input.is-valid~.form-check-label {
    color: $dark;
}


.signin-other-title {
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: $gray-500;

    span::before,
    span::after {
        border-top: 1px dashed $gray-400;
        content: "";
        position: absolute;
        top: 50%;
        width: 37%;
    }

    span::after {
        right: 0;
    }

    span::before {
        left: 0;
    }
}

.no-underline {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.btn-content {
    display: inline-block;
}

.arrow-none::after {
    display: none;
}

.btn-spacing {
    line-height: var(--vz-btn-line-height);
    padding: var(--vz-btn-padding-y) var(--vz-btn-padding-x);
}

#password-contain {
    position: absolute;
    right: 30px;
    top: 205px;
    z-index: 10;
}

.ls-quarter {
    letter-spacing: 0.25px !important;
}

.ls-half {
    letter-spacing: 0.5px !important;
}

.ls-full {
    letter-spacing: 1px !important;
}

.vue-tag,
.vue-tag.selected {
    background-color: #99aef4 !important;
    border: 1px solid #4c5c8f !important;
}

.vue-select[data-multiple=false][data-is-focusing=false][aria-disabled=false] .vue-input input,
.vue-select[data-multiple=false][data-is-focusing=false][aria-disabled=false] .vue-input input::placeholder {
    color: #1a2125 !important;
    font-weight: 500;
}

#preloader {
    background: #292929d9 !important;
}

[data-layout-mode=dark] #preloader {
    background: #212529d9 !important;
}

.vue-select-input-wrapper .vue-input input {
    border-radius: 0.3rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ddd;
}

.vue-select-header .vue-input input {
    border-radius: 0.3rem;
    padding: 0.25rem 0.5rem;
}

.vue-select[data-multiple=false][aria-expanded=true] .vue-select-header .vue-input input {
    border: 1px solid #ddd;
}

.vue-dropdown-item.highlighted {
    background-color: #4c5c8f !important;
    color: #fff !important;
}

.vue-dropdown-item.selected {
    background-color: #869be0 !important;
}

.vue-dropdown-item.selected.highlighted {
    background-color: #869be0 !important;
}

[data-layout-mode=dark] {

    .vue-select-input-wrapper .vue-input input,
    .vue-select[data-multiple=false] .vue-select-header .vue-input input {
        background: #212529;
        color: #ced4da;
        border: 0;
    }

    .vue-select[data-multiple=false][aria-expanded=true] .vue-select-header .vue-input input {
        border: 0;
    }

    .vue-tag,
    .vue-tag.selected {
        background-color: #4c5c8f !important;
        border: 1px solid #869be0 !important;
    }

    .icon.delete {
        background: #d5d5d5;
        border-radius: 50%;
    }

    .vue-select[data-multiple=false][data-is-focusing=false][aria-disabled=false] .vue-input input,
    .vue-select[data-multiple=false][data-is-focusing=false][aria-disabled=false] .vue-input input::placeholder {
        background: #262a2f;
        color: #ced4da !important;
    }

    .vue-dropdown {
        background-color: #262a2f;
    }

    .vue-select {
        background-color: #262a2f;
    }

    .vue-dropdown-item.selected {
        background-color: #869be0 !important;
        color: #eee !important;
    }

    .vue-dropdown-item.highlighted {
        background-color: #4c5c8f !important;
        color: #fff !important;
    }

    .vue-dropdown-item.selected.highlighted {
        background-color: #869be0 !important;
    }
}

#search-dropdown {
    top: 4.7rem;
}

@media (max-width: 767px) {
    #search-dropdown {
        width: 17.5rem;
        left: 5rem;
    }
}

.filter_dropdowns {
    &.vue-select {
        position: unset !important;

        >.vue-dropdown {
            min-width: max-content;
            max-width: 147px;
            left: unset;
        }

        .vue-tags {
            flex-wrap: unset;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
                width: 0 !important
            }

            .vue-tag {
                &.selected {
                    span {
                        width: max-content;
                    }
                }
            }
        }
    }

    .vue-dropdown {
        z-index: 1001;
    }

}

.pre-wrap {
    white-space: pre-wrap;
}

.min-w-100px {
    min-width: 100px;
}

.min-w-50px {
    min-width: 50px;
}

.min-w-30px {
    min-width: 30px;
}

.text-underline {
    text-decoration: underline !important;
}

.text-underline-hover {
    &:hover {
        text-decoration: underline !important;
    }
}

.dt_buttons_container {
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
        width: 0 !important
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

// Landing Page Hero Section
.hero_section {
    height: 100vh;
    top: 0px;
    background: #{$hero-bg};
    left: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15) !important;
}

.hero-head {
    font-size: 3.75rem !important;
}

.hero-img-bg-1 {
    background: url('@/assets/images/landing/bg.png') no-repeat;
    padding-top: 6rem;
    padding-inline-start: 6rem;
    padding-bottom: 7rem;

}

.hero-img-bg-2 {
    background: url('@/assets/images/landing/herobg.svg') no-repeat;
    background-size: cover;
    min-height: #{$hero-height};
}

.hero-search {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 5rem;
    position: relative;
    // width: 100%;
    // padding: 1rem;
    min-height: 5rem;
}

.hero-search-find {
    padding: 0rem !important;
}

.hero-typo {
    color: var(--grey-10, #F9FAFB);
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 72px */
    letter-spacing: -0.5px;
}

.hero-hire {
    color: var(--primary-100, #B3D64E);
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -0.5px;
}

.hero-slogan-image {
    width: 181.377px;
    height: 25px;
    flex-shrink: 0;
    fill: var(--primary-20, #F2F8DB);
}

.hero-tag-line {
    color: var(--grey-30, #E4E7EC);

    /* Body/Large/Regular */
    font-family: Inter;
    font-size: 18px;
    margin-bottom: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
}

.hero-search-input {
    width: 100%;
    margin-inline-end: 1.5rem;
    margin-inline-start: 1rem;
    height: 50px;

    i {
        color: #25324B;
        font-weight: 400;
        font-size: 2rem;
        margin-inline-end: 0.5rem;
    }

    .form-control,
    .form-select {
        color: #{$tertiary};
        font-weight: 400;

        &::placeholder {
            color: #{$tertiary};
            opacity: 1;
        }
    }

    .form-select {
        option:disabled {
            color: #{$medium-light};
        }

        &:first,
        &:invalid {
            color: #{$medium-light};
        }

        [disabled] {
            color: #{$medium-light};
        }
    }
}


.scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.landing-page-section-separation {
    margin-top: 5rem;
}

.landing-page-section-title {
    font-size: 1.5rem;
}

@media (max-width: 991px) {
    .landing-page-section-title {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    .landing-page-section-title {
        font-size: 1rem;
    }
}



.latest_job_card {
    padding: 1rem !important;
    border: 1px solid #D6DDEB;
    margin-block: 0.7rem !important;

    svg {
        color: transparent !important;
        stroke: #{$primary};
        stroke-width: 2px;
    }

    .radius {
        border-radius: 35px;
    }
}

//datatable

.primarysoft {
    color: $primary-soft;
}

.vue-tag,
.vue-tag.selected {
    background-color: #99aef4 !important;
    border: 1px solid #4c5c8f !important;
}

.vue-select[data-multiple=false][data-is-focusing=false][aria-disabled=false] .vue-input input,
.vue-select[data-multiple=false][data-is-focusing=false][aria-disabled=false] .vue-input input::placeholder {
    color: #1a2125 !important;
    font-weight: 500;
}

#preloader {
    background: #292929d9 !important;
}

[data-layout-mode=dark] #preloader {
    background: #212529d9 !important;
}

.vue-select-input-wrapper .vue-input input {
    border-radius: 0.3rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ddd;
}

.vue-select-header .vue-input input {
    border-radius: 0.3rem;
    padding: 0.25rem 0.5rem;
}

.vue-select[data-multiple=false][aria-expanded=true] .vue-select-header .vue-input input {
    border: 1px solid #ddd;
}

.vue-dropdown-item.highlighted {
    background-color: #4c5c8f !important;
    color: #fff !important;
}

.vue-dropdown-item.selected {
    background-color: #869be0 !important;
}

.vue-dropdown-item.selected.highlighted {
    background-color: #869be0 !important;
}

.vue-select {
    position: relative !important;
}

[data-layout-mode=dark] {

    .vue-select-input-wrapper .vue-input input,
    .vue-select[data-multiple=false] .vue-select-header .vue-input input {
        background: #212529;
        color: #ced4da;
        border: 0;
    }

    .vue-select[data-multiple=false][aria-expanded=true] .vue-select-header .vue-input input {
        border: 0;
    }

    .vue-tag,
    .vue-tag.selected {
        background-color: #4c5c8f !important;
        border: 1px solid #869be0 !important;
    }

    .icon.delete {
        background: #d5d5d5;
        border-radius: 50%;
    }

    #page-topbar {

        background: url('@/assets/images/landing/bg.png');
    }

    .vue-select[data-multiple=false][data-is-focusing=false][aria-disabled=false] .vue-input input,
    .vue-select[data-multiple=false][data-is-focusing=false][aria-disabled=false] .vue-input input::placeholder {
        background: #262a2f;
        color: #ced4da !important;
    }

    .vue-dropdown {
        background-color: #262a2f;
    }

    .vue-select {
        background-color: #262a2f;
    }

    .vue-dropdown-item.selected {
        background-color: #869be0 !important;
        color: #eee !important;
    }

    .vue-dropdown-item.highlighted {
        background-color: #4c5c8f !important;
        color: #fff !important;
    }

    .vue-dropdown-item.selected.highlighted {
        background-color: #869be0 !important;
    }
}

#search-dropdown {
    top: 4.5rem;
}

@media (max-width: 767px) {
    #search-dropdown {
        width: 17.5rem;
        left: 5rem;
    }
}

.filter_dropdowns {
    &.vue-select {

        >.vue-dropdown {
            min-width: max-content;
            max-width: 147px;
            left: unset;
        }

        .vue-tags {
            flex-wrap: unset;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
                width: 0 !important
            }

            .vue-tag {
                &.selected {
                    span {
                        width: max-content;
                    }
                }
            }
        }
    }

    .vue-dropdown {
        z-index: 1001;
    }

}

.pre-wrap {
    white-space: pre-wrap;
}

.min-w-100px {
    min-width: 100px;
}

.min-w-50px {
    min-width: 50px;
}

.min-w-30px {
    min-width: 30px;
}

.text-underline {
    text-decoration: underline !important;
}

.text-underline-hover {
    &:hover {
        text-decoration: underline !important;
    }
}

.dt_buttons_container {
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
        width: 0 !important
    }
}

.notopbar {
    height: 100vh;
    top: 0px;

}

//joblist
.matches {
    border: 1px solid var(--grey-30, #E4E7EC);
    background: var(--grey-10, #F9FAFB);
}


@mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
$fontColor: rgb(250, 250, 250);

.profile-pic {
    color: transparent;
    transition: all .3s ease;
    @include object-center;
    position: relative;
    transition: all .3s ease;

    .profile-img-input {
        display: none;
    }

    .profile-img {
        position: absolute;
        object-fit: cover;
        width: $circleSize;
        height: $circleSize;
        box-shadow: $shadow;
        border-radius: $radius;
        z-index: 0;
    }

    .-label {
        cursor: pointer;
        height: $circleSize;
        width: $circleSize;
    }

    &:hover {
        .-label {
            @include object-center;
            background-color: rgba(0, 0, 0, .8);
            z-index: 10000;
            color: $fontColor;
            transition: background-color .2s ease-in-out;
            border-radius: $radius;
            margin-bottom: 0;
        }
    }

    span {
        display: inline-flex;
        padding: .2em;
        height: 2em;
    }
}

.carousel__icon {
    display: none;
}


@media(max-width: 768px) {
    .main-content {
        margin-top: 0px !important;
    }
}

@media (max-width: 992px) {

    .navbar-menu:hover .nav-link span,
    .navbar-menu:hover .nav-link::after,
    .navbar-menu:hover .nav-link::before {
        display: none !important;
    }
}

/////////////////////////
// Body styling 🐾
/////////---------->

// new style start from here

// header style start form here
.gap-30 {
    gap: 30px;
}

.gap-10 {
    gap: 10px;
}

.font-size14 {
    font-size: 14px;
}

.font-size18 {
    font-size: 18px;
}

.line-height-130 {
    line-height: 130%;
}

.grey-50 {
    color: #98A2B3;
}

.title-color {
    color: #101828;
}

.header-search-bar {
    .search-group2 {
        width: 100%;
    }
}

.dot-span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #667085;
}

.banner-hero-setion,
.explore-job-col {
    margin-bottom: 50px;
}

.humburger-button-col {
    .login-href {
        border-right: 1px solid rgba(228, 231, 236, 0.304);
        padding-right: 30px;
        margin-right: 16px;
        font-size: 12px;
    }
}

.web-header {
    padding-top: 30px;

    .header-logo {
        width: 117px;
        height: 25px;
    }
}

.banner-desc {
    gap: 10px;

    .title-span {
        color: #F9FAFB;
    }

    >p {
        color: #E4E7EC;
        letter-spacing: 0px;
    }

    .hero-hire-text {
        font-size: 18px;
        ;
    }
}

.banner-search {
    .header-middle {
        margin-bottom: 30px;
        box-shadow: 0px 2.714px 4.397px 0px rgba(192, 192, 192, 0.03), 0px 6.863px 11.119px 0px rgba(192, 192, 192, 0.04), 0px 13.999px 22.683px 0px rgba(192, 192, 192, 0.05), 0px 28.836px 46.722px 0px rgba(192, 192, 192, 0.06), 0px 79px 128px 0px rgba(192, 192, 192, 0.09);
    }

    .search-group {
        padding: 0px 30px;
    }

    .search-group-button {
        min-width: 170px;
        padding: 0px 30px 0px 44px;
    }

    .popular_searches_seemore {
        opacity: 0.7;
    }
}

.explore-job-col {
    .explore-job-title {
        font-size: 32px;
        color: #101828;
    }

    .view-btn {
        border: 1px solid #D0D5DD;
        box-shadow: 0px 2px 3px 0px rgba(208, 213, 221, 0.50);
        font-size: 16px;
        padding: 12px 24px;
        color: #09404B;
        font-weight: 500;
        background: transparent;

        .bx-right-arrow-alt {
            margin-left: 12px;
        }
    }
}

.category_card {
    padding: 20px;
    border: 1px solid #E6ECED;
    margin-bottom: 24px;
    background-color: white;

    .card-icon {
        .job-title {
            font-size: 18px;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        i {
            background-color: #F2F4F7;
            height: 50px;
            width: 50px;
        }

    }

    &:hover {
        background-color: #FDFFF9;
        color: $secondary !important;

        border: 1px solid #B3D64E;
        cursor: pointer;
    }
}

.job-available-col {
    margin-top: 0px;

    i {
        font-size: 24px;
        line-height: 24px;
    }
}

.explore-job-row {
    margin-bottom: 75px;
}

.featured-jobs-section {
    background-color: #F9FAFB;
    padding: 50px 0px 30px;

    .featured-job-title-col {
        margin-bottom: 30px;
    }

    .landing-page-section-title {
        font-size: 30px;
    }

    .view-btn {
        border: 1px solid #D0D5DD;
        box-shadow: 0px 2px 3px 0px rgba(208, 213, 221, 0.50);
        font-size: 16px;
        padding: 12px 24px;
        color: #09404B;
        font-weight: 500;
        background: #fff;

        .bx-right-arrow-alt {
            margin-left: 12px;
        }
    }

    .featured-card-col {
        margin-bottom: 24px;
    }

    .featured-card-body {
        padding: 20px;
        border: 1px solid #E6ECED;
        background-color: #fff;

        .featured-job-icon {
            height: 50px;
            width: 50px;
            background-color: #F2F4F7;

            img {
                max-width: 50px;
            }
        }

        .featured-card-desc {
            .featured-job-title {
                margin-bottom: 12px;

                h5 {
                    font-size: 18px;

                }

                .matching-like-col {
                    gap: 10px;
                }

                .matching-col {
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: 400;
                }

                .warning {
                    background-color: #FEF0C7;
                    color: #7A2E0E;
                }

                .error {
                    background-color: #FEE4E2;
                    color: #7A271A;
                }

                .success {
                    background-color: #D1FADF;
                    color: #054F31;
                }

                .heart-icon {
                    background-color: #F2F4F7;
                    width: 28px;
                    height: 28px;

                    img {
                        width: 50px;
                    }
                }

                .heart-icon.active {
                    background-color: #F2F8DB;

                    svg:first-child {
                        display: none;
                    }

                    svg:last-child {
                        display: block !important;
                    }
                }
            }

            .featured-job-type {
                font-size: 14px;
                color: #667085;
                font-weight: 400;
                margin-bottom: 15px;
            }

            .featured-job-content {
                color: #7C8493;
                font-size: 12px;
                margin-bottom: 15px;
                white-space: break-spaces;
            }

            .featured-card-footer {
                span {
                    background-color: #F2F4F7;
                    border-radius: 2px;
                    color: #344054;
                    padding: 4px 10px;
                    gap: 6px;
                    font-size: 12px;
                }

                p {
                    font-size: 11px;
                    font-weight: 400;
                    color: #667085;
                }
            }
        }
    }

}

.contact-us-section {
    padding: 75px 0px;

    .latest-job-row {
        background-color: #F9FAFB;
        padding: 60px 75px;

        .job-inbox-desc {

            h4 {
                font-size: 24px;
                color: #101828;
            }

            p {
                color: #475467;
                font-size: 16px;
            }
        }

        .job-inbox-input {
            >div {
                position: relative;
                gap: 10px;
                margin-bottom: 15px;

                .email-icon {
                    position: absolute;
                    left: 10px;
                    top: 14px;
                }

                .btn {
                    font-size: 16px;
                    background-color: #B3D64E;
                    border: 1px solid #B3D64E;
                    height: 100%;
                    padding: 12px 24px;
                    color: #fff;
                    border-radius: 0px;
                }
            }

            p {
                font-size: 12px;

                a {
                    color: #1D2939;
                    font-size: 12px;

                }
            }

            .form-control {
                padding: 14px 10px 14px 35px;
                border: 1px solid #D0D5DD;
                border-radius: 0px;

                ::placeholder {
                    color: #667085;
                }
            }
        }
    }
}

.second-header-main {
    padding-top: 20px;
}

.second-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 24px;

    .search-group-button {
        >span {
            padding: 12px 27px;
            font-size: 16px;
        }
    }
}

.header-right-humburger {
    >a {
        width: 106px;
        margin-left: 24px;
        margin-right: 22px !important;
        padding-right: 32px;
        border-right: 1px solid #98A2B3 !important;
    }

    .create_account {
        color: #344054;
    }
}

.signin-col {
    margin-top: 20px;
    width: 550px;

    .card {
        padding: 30px 50px;
        border-radius: 0px;
        border: 1px solid #E4E7EC;

        .card-body {
            padding: 0px;

            .forget-password {
                margin-bottom: 30px;

                a {
                    font-size: 12px;
                    font-weight: 500;
                    color: #101828;
                }
            }

            .email-input-col {
                margin-bottom: 18px;
            }

            .password-input-col {
                margin-bottom: 20px;
            }

            h3 {
                font-size: 32px;
                line-height: 140%;
                margin-bottom: 20px;
                font-weight: 500;
            }

            hr {
                margin: 30px 0px 18px;
                border-top: 1px solid rgba(16, 24, 40, 0.212)
            }

            label {
                font-size: 14px;
                color: #101828;
                font-weight: 500;
                line-height: 130%;
                margin-bottom: 14px;
            }

            .form-control {
                border: 1px solid #D0D5DD;
                padding: 19px 18px 19px 50px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 0px;

                ::placeholder {
                    color: #667085;
                }
            }

            .form-icon {
                position: absolute;
                bottom: 21px;
                left: 17px;
            }

            .auth-pass-inputgroup {
                position: absolute;
                bottom: 14px;
                right: 20px;

                i {
                    font-size: 20px;
                    color: #09404B;
                }
            }

            .login-btn {
                border-radius: 0px;
                background-color: #11548d;
                font-size: 16px;
                padding: 12px;
            }
        }

    }
}

.social-btn-col {
    .signin-other-title {
        h5 {
            font-size: 12px;
            color: #667085;
            margin-bottom: 18px;
        }
    }

    .signin-google-btn {
        margin-bottom: 15px;
    }

    .btn {
        border-radius: 0px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #D0D5DD;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

    }
}

.login-footer {
    margin-top: 164px;

    p {
        color: #475467;

        a {
            text-decoration: underline;
            color: #475467;
        }
    }
}

.signup-col {
    margin-top: 20px;
    width: 550px;

    .card {
        padding: 30px 50px;
        border-radius: 0px;
        border: 1px solid #E4E7EC;

        .card-body {
            padding: 0px;

            .social-btn-col {
                margin-top: 30px;

                .signin-other-title {
                    margin-top: 0px;
                }
            }

            .phone-number-input {
                .form-control {
                    padding: 14px 18px 14px 6px;
                }

                .vue-tel-input:focus-within {
                    box-shadow: unset;
                    border: 1px solid #D0D5DD
                }

                .above {
                    li {
                        strong {
                            font-weight: 500;
                        }
                    }
                }
            }

            .password-input-col {
                margin-bottom: 30px;
            }

            .mb-18 {
                margin-bottom: 18px;
            }

            h3 {
                font-size: 32px;
                line-height: 140%;
                margin-bottom: 20px;
                font-weight: 500;
            }

            hr {
                margin: 30px 0px 18px;
                border-top: 1px solid rgba(16, 24, 40, 0.212)
            }

            label {
                font-size: 14px;
                color: #101828;
                font-weight: 500;
                line-height: 130%;
                margin-bottom: 14px;
            }

            .form-control {
                border: 1px solid #D0D5DD;
                padding: 19px 18px 19px 50px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 0px;

                ::placeholder {
                    color: #667085;
                }
            }

            .form-icon {
                position: absolute;
                bottom: 21px;
                left: 17px;
            }

            .auth-pass-inputgroup {
                position: absolute;
                bottom: 14px;
                right: 20px;

                i {
                    font-size: 20px;
                    color: #09404B;
                }
            }

            .login-btn {
                border-radius: 0px;
                background-color: #11548d;
                font-size: 16px;
                padding: 12px;
            }
        }
    }
}

.invalid-feedback {
    font-size: 14px;
    margin-top: 7px;
}

.was-validated .form-control:valid,
.form-control.is-valid {
    background-image: unset;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    background: #FFFBFA;
    background-image: unset;
    border: 1px solid #F04438 !important;
}

.register-form-main-col {
    border: 1px solid #E4E7EC;
    margin-top: 20px;
    background-color: white;
    .step-form-main {
        padding: 24px 30px;
        min-height: 754px;

        h3 {
            font-size: 24px;
            font-weight: 600;
            color: #101828;
            margin-bottom: 10px;
        }
    
        >p {
            font-size: 16px;
            color: #475467;
            margin-bottom: 24px;
        }
    
        .search-industries-input {
            position: relative;
            margin-bottom: 24px;
            max-width: 400px;
    
            .form-icon {
                position: absolute;
                bottom: 21px;
                left: 20px;
            }
    
            .form-control {
                border: 1px solid #D0D5DD;
                padding: 19px 18px 19px 50px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 0px
            }
        }
    }
    

    .step-list {
        list-style-type: none;
        gap: 6px;
        border-bottom: 1px solid #D0D5DD;
        font-size: 14px;
        padding: 20px 0px;

        li:nth-of-type(odd) {
            border: 1px solid #D0D5DD;
            font-size: 14px;
            font-weight: 500;
            padding: 9px 18px;
            border-radius: 32px;
        }

        li.active {
            border: 1px solid #B3D64E;
            background-color: #FDFFF9;
        }
    }
}

p.d-flex.position-relative.align-items-center.justify-content-center.mb-0.gap-2 {
    border-top: 1px solid #D0D5DD;
    margin: 10px 2px;
    padding-top: 20px;
}

.industries-list {
    .stepform-subtitle {
        margin-bottom: 18px;

        p {
            font-size: 16px;
            color: #98A2B3;

            span {
                color: #101828;
            }
        }
    }

    h5 {
        font-size: 16px;
        font-weight: 500;
        color: #101828;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 18px;

        li {
            .btn {
                border: 1px solid #E4E7EC;
                border-radius: 0px;
                position: relative;
                margin: 0px;
                width: 100%;
                padding: 22px 5px 5px;
                min-height: 100px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 12px;
                font-size: 12px;

                p {
                    margin-bottom: 0px;
                    font-weight: 500;
                }

                .check-mark {
                    display: none;
                }
            }

            .btn.active {
                border: 1px solid #B3D64E;
                color: #B3D64E;
                background-color: #FDFFF9;

                path {
                    fill: #B3D64E;
                }

                .check-mark {
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
}

.popular-tag-list {
    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            .btn {
                min-height: 40px;
                padding: 10px;
            }
        }
    }
}

.step-form-footer {
    border-top: 1px solid #D0D5DD;
    margin: 20px 30px;
    padding-top: 20px;

    .back-btn {
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        padding: 10px 16px;
        font-size: 14px;
        border-radius: 0px;
        color: #667085;
    }

    .next-btn {
        background-color: #B3D64E !important;
        border: 1px solid #B3D64E !important;
        padding: 10px 16px;
        font-size: 14px;
        border-radius: 0px;
        color: #fff !important;
    }
}

.upload-cv {
    border: 1px solid #D0D5DD;
    max-width: 400px;
    padding: 12px 20px;

    >p {
        color: #98A2B3;

        .upload-file-input {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
        }
    }

    .close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 99;
        cursor: pointer;
    }

    .cv-upload-progress {
        margin: 20px 0px;
        height: 4px;
        border-radius: 0px;
    }

    .upload-resume-title {
        position: relative;

        .upload-file-input {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: 0;
        }

        gap: 12px;

        p {
            font-size: 16px;
            color: #09404B;
        }

        span {
            font-size: 12px;
            color: #667085;
        }
    }
}

.grid-row-content {
    padding: 24px 34px;
    border: 1px solid #E4E7EC;

    .grid-row-switc-btn {
        .matches {
            border: 1px solid #E4E7EC;
            background-color: #F9FAFB;
            padding: 4px;

            .joblisttabs {
                padding: 4px 6px;
            }

            .activeTab {
                background-color: #FFF;
                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
                color: #344054;

            }

            .rounded-pill {
                padding: 4px 8px;
                color: #667085;
                font-size: 12px;
                background-color: #fff;
            }
        }

        .Create-jobs-alert {
            border-right: 1px solid rgba(152, 162, 179, 0.505) !important;
            padding-right: 15px;
            margin-right: 10px;
            color: #344054;
        }
    }
}

.grid-view-row,
.list-view-row {
    background-color: transparent;
    padding: 0px;
}

.load-more-btn {
    .btn {
        border: 1px solid #D0D5DD;
        box-shadow: 0px 2px 3px 0px rgba(208, 213, 221, 0.50);
        font-size: 16px;
        font-weight: 500;
        padding: 12px 24px;
    }
}

.single-job-page {
    .back_button {
        padding: 20px 0px;
        gap: 5px
    }

    .single-product-page-banner {
        height: 200px;
    }

}

.below-banner-section {
    border-radius: 0px;
    padding: 0px 30px;

    hr {
        margin: 30px 0px;
    }

    .single_job_top {
        margin-top: -65px;
        margin-bottom: 30px;

        .apply_job_div {
            gap: 12px;

            .btn {
                padding: 10px 16px;
                font-size: 14px;
            }

            .favourite {
                padding: 9px 10px;
            }

            .favourite:hover {
                border: 1px solid #D0D5DD;
            }

            .applynow:hover {
                background-color: #09404B;
                color: #fff;
                border: 1px solid #09404B;
            }
        }
    }

    .avatar-lg {
        height: 130px;
        width: 130px;
        top: 0px;
        left: 0;

        >img {
            padding: 3px;
        }
    }

    .apply_job-info {
        .title {
            font-size: 24px;
            margin-bottom: 15px;
        }

        >p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .job_type {
            padding: 10px;
            font-weight: 500;
            font-size: 14px;
        }
    }
}

.apply-job-desc {
    padding-right: 36px;

    h3 {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .job-desc {
        color: #475467;
        font-weight: 400;
    }
}

.apply-job-industries {
    h5 {
        color: #667085;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 16px;
    }

    .job_other_data {
        margin-bottom: 20px;

        p {
            white-space: unset;
        }
    }

    .featured-jobs-section {
        padding: 0px;
        background-color: transparent;
    }
}

// dashboard page style start here
.main-content {
    margin-top: 88px;
    height: unset
}

.profile-page-wrapper {

    .candidate-profile-banner {
        height: 200px;

        .candidate-profile-edit {
            gap: 10px;
            padding: 15px 20px;

            .btn {
                background-color: #FFF;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                border: 1px solid #D0D5DD;
                border-radius: 0px;
                padding: 4px 15px;
                color: #09404B;
            }
        }
    }
}

.profile-page-wrapper-card {
    padding: 0px 30px 20px;
    border-radius: 0px;
    border: 1px solid #E4E7EC;

    .candidate-profile-edit-img {
        margin-top: -65px;
        margin-bottom: 30px;

        .profile-container {
            background-color: #fff;
            border-radius: 50%;
            padding: 2px;

            .edit-icon {
                height: 40px;
                width: 40px;
                border: 2px solid #fff;
            }

            img {
                padding: 0px;
                border: 0px;
            }
        }

        .edit-profile-btn {
            .share-btn {
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                border-radius: 0px;
                padding: 9px;
            }

            .editprofile {
                border-radius: 0px;
                font-size: 14px;
                padding: 9px 19px;
            }

            .editprofile:hover {
                background-color: #09404B;
                color: #fff;
            }

        }
    }

    .candidate-profile-name {

        .btn-primary {
            border-radius: 0px;
            padding: 10px 14px;
        }

        .btn-light {
            padding: 10px 15px;
        }

        .candidate-profile-sub-name {
            gap: 8px;

            h3 {
                font-size: 24px;
            }

            h3,
            h5 {
                color: #101828;
            }

            p {
                color: #475467;
                font-size: 18px;
            }
        }

        #candidate_name {
            font-size: 24px;
        }
    }

    .candidate-profile-details {
        .candidate-profile-details-desc {
            border: 1px solid #E4E7EC;
            border-radius: 5px;
            background: rgba(249, 250, 251, 0.30);
            padding: 20px;
        }
    }
}

.candidate-about-experience {
    border: 1px solid #E4E7EC;
    margin-top: 20px;
    padding: 30px;
    border-radius: 0px;

    .card-header {
        border: 0px;

        h4 {
            color: #101828;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .candidate-job-fields {
        h5 {
            color: #667085;
            margin-bottom: 12px;
        }
    }

    .experience-col,
    .education-col {
        h4 {
            color: #101828;
            font-size: 18px;
            font-weight: 600;
        }
    }
}

.navbar-menu {
    padding: 10px 0 20px 0;

    .simplebar-wrapper {
        height: 100vh;

        .simplebar-content {
            height: 100%;

            >div {
                height: 100%;
            }
        }
    }

    .sidebar-footer {
        padding: 10px 20px 2px;

        p {
            color: #101828;
            font-size: 16px;
            font-weight: 600;
        }

        span {
            color: #475467;
        }
    }
}

// add experience modal style start here
.addExperience-modal {

    .modal-header {
        display: none;
    }

    .modal-body {
        padding: 24px;

        label {
            color: #475467;
            font-weight: 500;
        }

        .form-control {
            border: 1px solid #E4E7EC;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            border-radius: 0px;
            font-size: 16px;
            padding: 10px 14px;

            ::placeholder {
                color: #667085;
                font-weight: 400;
            }
        }

        .search-icon-col {
            position: relative;

            .form-control {
                padding-left: 40px;
            }

            svg {
                position: absolute;
                bottom: 14px;
                left: 14px;
            }
        }

        .modal-title {
            border-bottom: 1px solid #D0D5DD;
            margin-bottom: 15px;

            h4 {
                color: #101828;
                font-size: 18px;
                line-height: 28px;
            }

            p {
                color: #667085;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }

        .modal-footer {
            margin-left: -24px;
            margin-right: -24px;

            .btn {
                padding: 10px 18px;
            }
        }
    }
}

.candidate-about-modal {
    padding-top: 16px;

    .candidate-about-tabs {
        padding-top: 16px;
    }

    .nav-tabs {
        padding-bottom: 16px;

        .nav-link {
            border: 1px solid transparent !important;
            padding: 10px 16px;
            color: #475467;
            border-radius: 0px !important;

            :hover {
                border: 1px solid transparent !important;
            }
        }
    }
}

.more-filter-section {
    background-color: #fff;
    position: fixed;
    top: 90px;
    z-index: 1;
    left: 0;
    right: 0;

    .more-filter-col {
        max-width: 75%;
        padding: 0px 0px 20px;
        margin-left: 120px;
    }
}

.more-filter-btn {
    border: 0px;
    background: transparent;
}

.grid-row-col {
    padding-top: 70px;
}



.filter-offcanvas {
    .clear-all-col {
        padding-bottom: 10px;
    }

    .clear-btn {
        color: #F04438;
        padding: 0px;
    }
}

.filter-offcanvas-body {
    .clear-all-col {
border-bottom: 1px solid #E4E7EC;
padding-bottom: 12px;
margin-bottom: 24px;
    }
    .card-header,
    .card {
        border: 0px;
        border-radius: 4px;
        background: transparent;
    }

    .accordion-tags {
        margin-top: 10px;

        span {
            background-color: #F2F4F7;
            color: #344054;
            padding: 8px;
        }
    }

    .filter-hr {
        margin: 12px 0px;
        border-color: #E4E7EC;
        opacity: 1;
    }

    .filter-select {
        label {
            font-size: 16px;
            color: #101828;
            font-weight: 500;
            margin-bottom: 12px;
        }

        select {
            border-radius: 0px;
            font-size: 12px;
        }
    }

    .filter-checkbox , .filter-radiocheck {
        ul {
            li {
                width: 50%;
                .form-check {
                    color: #101828;
                    font-weight: 400; 
                }
                label {
                    color: #101828;
                    font-weight: 400;
                    
                }
            }
        }
        >label {
            font-size: 16px;
            color: #101828;
            font-weight: 500;
            margin-bottom: 12px;
            line-height: 130%;
        }
    }
    .apply-filter-btn {
        border-radius: 0px;
        margin-top: 34px;
        font-size: 16px;
    }
    .apply-filter-btn:hover {
        background-color: #b3d64e;
    }
}