/* Variables */
:root {
    --body-color: #f2f4f7;
    --border-color-dark-gray: #d0d5dd;
    --border-color-light-gray: #e4e7ec;
    --separator-color: #98a2b3;
    --placeholder-color: #667085;
    --icon-color: #1d2939;
    --text-color: #344054;
    // --primary-color: #073a65;
    --secondary-color:#4973b9;
    --primary-color: #153753;
    // --primary-color: #7f007f;
    --white-color: #ffffff;
    --header-menu-link-color: #344054;
    --hero-bg-color: #101828;

    --header-height: 90px;
    --hero-height: 1024px;
    --hero-height-mobile: 940px;
}

// ===================================================================================================
//                              General Style
// ===================================================================================================

// a{
//     text-decoration: none !important;
//     color: var(--primary-color) !important;
// }

h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 15px;
}
h5{
    font-size: 10px;
}
h6{
    font-size: 5px;
}

.custom-rounded{
    border-radius: 5px;
}

// ===================================================================================================
//                              SignIn Page Design Style
// ===================================================================================================

.signin-col {
    margin-top: 20px;
    width: 550px;

    .card {
        padding: 30px 50px;
        border: 1px solid #E4E7EC;

        .card-body {
            padding: 0px;

            .forget-password {
                margin-bottom: 30px;

                a {
                    font-size: 12px;
                    font-weight: 500;
                    color: #101828;
                }
            }

            .email-input-col {
                margin-bottom: 18px;
            }

            .password-input-col {
                margin-bottom: 20px;
            }

            hr {
                margin: 30px 0px 18px;
                border-top: 1px solid rgba(16, 24, 40, 0.212)
            }

            label {
                font-size: 14px;
                color: #101828;
                font-weight: 500;
                line-height: 130%;
                margin-bottom: 14px;
            }

            .form-control {
                border: 1px solid #D0D5DD;
                padding: 19px 18px 19px 50px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 0px;

                ::placeholder {
                    color: #667085;
                }
            }

            .form-icon {
                position: absolute;
                bottom: 21px;
                left: 17px;
            }

            .auth-pass-inputgroup {
                position: absolute;
                bottom: 14px;
                right: 20px;

                i {
                    font-size: 20px;
                    color: #09404B;
                }
            }

            .login-btn {
                border-radius: 0px;
                background-color: var(--primary-color);
                font-size: 16px;
                padding: 12px;
                border: none;
            }
        }

    }
}


// ===================================================================================================
//                              SignUp Page Design Style
// ===================================================================================================


.signup-col {
    margin-top: 20px;
    width: 550px;

    .card {
        padding: 30px 50px;
        border: 1px solid #E4E7EC;

        .card-body {
            padding: 0px;

            .phone-number-input {
                .form-control {
                    padding: 14px 18px 14px 6px;
                }

                .vue-tel-input:focus-within {
                    box-shadow: unset;
                    border: 1px solid #D0D5DD
                }

                .above {
                    li {
                        strong {
                            font-weight: 500;
                        }
                    }
                }
            }

            .password-input-col {
                margin-bottom: 30px;
            }

            .mb-18 {
                margin-bottom: 18px;
            }

           

            hr {
                margin: 30px 0px 18px;
                border-top: 1px solid rgba(16, 24, 40, 0.212)
            }

            label {
                font-size: 14px;
                color: #101828;
                font-weight: 500;
                line-height: 130%;
                margin-bottom: 14px;
            }

            .form-control {
                border: 1px solid #D0D5DD;
                padding: 19px 18px 19px 50px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 0px;

                ::placeholder {
                    color: #667085;
                }
            }

            .form-icon {
                position: absolute;
                bottom: 21px;
                left: 17px;
            }

            .auth-pass-inputgroup {
                position: absolute;
                bottom: 14px;
                right: 20px;

                i {
                    font-size: 20px;
                    color: #09404B;
                }
            }

            .login-btn {
                border-radius: 0px;
                background-color: var(--primary-color);
                font-size: 16px;
                padding: 12px;
                border: none;
            }
        }
    }
}


// ===================================================================================================
//                              Social Login Design Style
// ===================================================================================================


.social-title {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.social-btn-col {
    .signin-google-btn {
        margin-bottom: 15px;
        &:hover{
            background-color: var(--primary-color) !important;
            color: white;
        }
    }


    .btn {
        border-radius: 0px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #D0D5DD;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

    }
}

.social-login-parent{
    gap: 10px;
}